* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e1e2e1;
}

.cabecalho {
    background-color: #dc143c;
    padding: 5px 10px;
    display: inline-block;
    width: 100%;
}

.cabecalho .logo {
    display: inline-block;
}

.cabecalho nav {
    float: right;
}

.cabecalho nav li {
    display: inline-block;
    padding: 15px;
}

main {
    background-color: #ffffff;
    min-width: 320px;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
}

.image img {
    width: 100%;
}

@media (max-width: 576px) {
    .cabecalho {
        background-color: #228C22;
        text-align: center;
        width: 100%;
    }

    .cabecalho nav li {
        display: block;
    }

    .cabecalho nav {
        float: none;
    }
}