* {
    margin: 0;
}

body {
    padding-top: 50px;
}

header {
    position: fixed;
    padding: 10px;
    background-color: #4169e1;
    width: 100%;
    top: 0;
}

p {
    font-size: 25px;
    padding: 10px;
}

.elemento {
    color: #fff;
    font-size: 32px;
    width: 250px;
    height: 250px;
    text-align: center;
    margin-bottom: 20px;
}

.elemento-estatico {
    position: static;
    background-color: #fc143c;
}

.elemento-relativo {
    position: relative;
    background-color: chocolate;
    left: 100px;
}

.elemento-absoluto {
    position: absolute;
    background-color: hotpink;
    left: 300px;
    top: 0;
}

.elemento-relativo-com-filho {
    position: relative;
    width: 350px;
    height: 350px;
    background-color: #4169e1;
}

.elemento-absoluto-com-pai {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 150px;
    background-color: #ff6347;
}